.tm-sidebar .tm-main-nav .tm-nav-item:hover {
    background-color: lightskyblue;
    color: #fff;
}
.tm-sidebar .tm-main-nav .tm-nav-item .tm-nav-item-link:hover {
    color: white;
}
.tm-content-header .tm-banner {
    background-image: linear-gradient(burlywood, lightskyblue);
}
.tm-content-header .tm-banner .tm-banner-inner {
    background-color: white;
}
.tm-content-header .tm-banner .tm-banner-inner .tm-banner-text {
    text-shadow: 0px 8px 2px #76cdd7, 0px 0px 2px gray, 0px 3px 0px #76cdd7 ; 
    letter-spacing: 4px; 
    word-spacing: 10px;
    animation: move 4s;
}
@keyframes move {
    from {transform: rotate(45deg);}
    to {transform: rotate(0deg);}
}
section, .tm-sidebar, .tm-content-header {
    box-shadow: 1px 2px 10px 1px rgba(61, 55, 61, 0.7);
}
.tm-main-content section .tm-content-box:first-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.tm-main-content .tm-content-box .tm-section-description {
    text-indent: 18px;
    font-style: italic;  
}
.tm-main-content .tm-content-box .tm-section-title {
    text-align: center;
}
#about .gallery-container .box:hover {
    background-color: lightskyblue;
}
#about .gallery-container .box .tm-section-title-box:hover {
    color:white;
    font-weight: bold;
}
section::before {
    content: '';
    border: 20px solid transparent;
    border-left: 20px solid lightskyblue;
    border-top: 20px solid lightskyblue;
}
.heading .padding-medium h2 {
    text-align: center;
    color: lightskyblue;
}
.heading .padding-medium li {
    list-style-type: decimal-leading-zero;
    width: fit-content;
}
.heading .padding-medium a:hover {
    color: red;
    font-weight: bold;
}
.heading .padding-medium li:hover::before {
    content: '>';
    color: red;
    font-weight: bold;
}
.heading .padding-medium .text::after {
    content: 'New';
    color: red;
    font-variant: small-caps;
    vertical-align: super;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline white;
}
h2 + p {
    font-style: italic;
    line-height: 23px;
}
.blocks .tm-team-description-container .tm-section-title {
    text-align: center;
}
.blocks .tm-team-description-container p {
    text-indent: 18px;
    font-style: italic;
}
.blocks .tm-content-box .gallery-container .box-work {
    padding: 10px;
}
.blocks .tm-content-box .gallery-container .box-work:nth-child(2n) {
    background-color: lightskyblue;
    color: white;   
}
.blocks .tm-content-box .gallery-container .box-work div p::first-letter {
    font-weight: bold;
}
.tm-content-box #contact .tm-section-title {
    text-align: right;
}
.tm-content-box #contact .contact-form #contact_name , #contact_email , #contact_subject {
    border: none;
    border-bottom: 1px solid lightskyblue;
}
.tm-content-box #contact .contact-form  #contact_subject{
    background-image: url(../img/email-icon.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-right: 17px;
}
.tm-content-box #contact .contact-form .submit-btn {
    border: 2px solid lightskyblue;
    background-color: white;
    color: lightskyblue;
    border-radius: 0px;
    float: right;
    width: 120px;
    height: 40px;
}
.tm-content-box #contact .contact-form .form-control:focus {
    background-color: lightseagreen;
    color: white;
}
.tm-content-box #contact .contact-form .submit-btn:hover {
    background-color: lightseagreen;
    color: white;
    border: none;
}

@media print {
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: #fff;
    }
    .tm-content-box {
        padding: 0px;
        margin: 12px;
    }
    .tm-section-title {
        padding: 0px;
    }
    .padding-medium {
        padding: 0px;
    }
    .container .tm-sidebar {
        display: none;
    }
    .tm-main-content {
        padding-top: 0px;
    }
    .tm-section-description {
        font-style: italic;
        padding: 0px 35px;
    }
    .tm-main-content .tm-content-header .tm-banner {
        padding: 0px;
    }
     .tm-main-content .tm-content-header .tm-banner-inner .tm-banner-text {
        word-spacing: 10px;
        letter-spacing: 6px;
    }
    section .tm-content-box .tm-team-description-container {
        max-width: 700px;
    }
    section .tm-content-box .tm-team-description-container .tm-section-title {
        text-align: center;
        text-transform: uppercase;
        color:lightseagreen;
    }
    section .tm-content-box .tm-team-description-container .tm-section-description {
        text-align: center;
    }
    section .tm-content-box .tm-team-img {
        display: none;
    }
    section::before {
        border: none;
    }
    section #about {
        display: none;
    }
    .heading .padding-medium {
        padding: 0px;
    }
    .heading .padding-medium .text::after {
        display: none;
    }
    .heading .padding-medium ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 200px;
    }
    .heading .padding-medium li:nth-child(even){
        margin-left: 400px;
    }
    .heading .padding-medium h2 {
        text-align: center;
        text-transform: uppercase;
        color: lightseagreen;
        font-weight: lighter;
    }
    .heading .padding-medium li {
        color: lightskyblue;
        list-style-type: none;
    }
    .blocks .tm-content-box .gallery-container {
        display: none;
    }
    .blocks .tm-team-description-container {
        max-width: 700px;
    }
    .blocks .tm-team-description-container .tm-section-title {
        text-align: center;
        text-transform: uppercase;
        color: lightseagreen; 
    }
    .blocks .tm-team-description-container .tm-section-description {
        text-align: center;

    }
    #ideas .carousel {
        padding-top: 0px;
    }
    #ideas .carousel .carousel-indicators {
        display: none;
    }
    #ideas .carousel .carousel-inner .carousel-item .carousel-content .tm-section-title {
        text-align: center;
        text-transform: uppercase;
        color: lightseagreen;
    }
    #ideas .carousel {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .tm-content-box .img-contact-us {
        display: none;
    }
    .tm-content-box #contact {
        display: none;
    }
}
