html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
   display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;    
}

li {
    width: 100%;
    margin: 0 0 4px 0;
}

p {
    margin: 0;
    transition: ease-in 0.3s;
}

.hide:nth-child(n) {
    display: none;
}

p:hover {
    cursor: pointer;
}

.folder:hover,
.file:hover {
    background-color: #EFEFEF;
}

i {
    vertical-align: middle;
    color: #EDBC0B;
    margin-right: 10px;    
}

.folder i {
    color: #EDBC0B;
}

.file i {
    color: #BBBBBB;
}

.empty-list {
    padding-left: 6px;
    font-style: italic;
}
#root {
    width: 500px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,1); 
    margin: auto;
    display: flex;
    position: relative;
}
.text {
    margin: auto;
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
.rightMenu {
    padding-left: 0;
    height: 60px;
    position: fixed;
    list-style: none;
    background-color: rgb(236, 234, 234);
    border-radius: 2px;
    display: none;
}
.rightMenu.active {
    display: block;
}
.rightMenu li {
    width: 80px;
    margin: 10px;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
}
.rightMenu li:hover {
    background: #BBBBBB;
}
