@mixin button($color, $width, $height, $bgColor, $border, $fontSize, $font, $fontWeight) {
    color: $color;
    width: $width;
    height: $height;
    background-color: $bgColor;
    border: $border;
    font-size: $fontSize;
    font-family: $font;
    font-weight: $fontWeight;
}
@mixin link($color, $size, $fontLink) {
    color: $color;
    font-size: $size;
    font-family: $fontLink;
}
$fontSize :(
    span: 10px,
    footerSize: 15px,
    paragraphSize: 17px,
    logo: 25px,
    banner: 30px,
    headerSize: 73px
);
body {
    margin: 0px;
    padding: 0px;
    font-family: $mainFont;
    background-color: $bg;
}
p {
    font-family: $fontParagraph;
}
.header {
    background-image: $img;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 710px;
    border-radius: 0 0 37% 0 / 36%; 
    position: relative;
    z-index: -1;
}
.header-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 150px;
    .landing-logo {
        display: flex;
        img {
            width: auto;
            height: 50px;
            margin-top: 18px;
            margin-left: 1px;
        }
        p {
            margin-left: 12px;
            margin-top: 19px;
            text-align: center;
            font-size: map-get($map: $fontSize, $key: logo);
            font-weight: 600;
            color: $text;
            font-family: $mainFont;
        } 
        span {
            display: block;
            font-size: map-get($map: $fontSize, $key: span);
            font-weight: 600;
            color: $text;
        }
    }
    .header_heading {
        color: $text;
        font-size: map-get($map: $fontSize, $key: headerSize);
        max-width: 500px;
        font-weight: bold;
        line-height: 75px;
        margin-top: 50px;
        margin-bottom: 19px;
        &::after {
            content:'';
            background-color: $markText;
            position: absolute;
            z-index: -1;
            width: 303px;
            height: 66px;
            top: 223px;
            left: 152px;
        }
    }
    .header_text {
        color: $text;
        font-family: $mainFont;
        white-space: pre-line;
        line-height: 23px;
        font-size: map-get($map: $fontSize, $key: paragraphSize);
        word-spacing: -1px;
        margin-left: 3px;
    } 
    .header_text + div {
        display: flex;
        align-items: center;
        padding-top: 48px;
        margin-left: 5px;
    } 
    .header_button {
        @include button($color: $white, $height: 47px, $width: 140px, $bgColor: $btn, $border: none, $fontSize: 17px, $font: $fontParagraph, $fontWeight: 700);
    }
    .login {
        @include link($color: $white, $size: 20px, $fontLink: $fontParagraph);
        margin-left: 153px;
    }
}
.section {
    position: relative;
    padding-bottom: 200px;
    .section_text {
        text-align: center;
        color: $text;
        font-size: 42px;
        font-weight: bold;
        margin-top: 46px;
        margin-left: 22px;
        word-spacing: -4px;
        &::after {
            content: '';
            background-color: $markAdventure;
            position: absolute;
            z-index: -1;
            top: -5px;
            right: 550px;
            width: 194px;
            height: 50px;
        }
    }
    .section_card_wrap {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-left: 19px;
        margin-top: -3px;
        .section_card {
            display: flex;
            justify-content: space-around;
            width: 900px;
            height: 275px;
            background-color: $mainCol;
            border-radius: 10px;
            margin-bottom: 30px;
            .section_card_img  {
                max-width: 100%;
                height: 231px;
                border-radius: 9px;
                margin: 20px 10px 20px -29px;
            }
            img[alt="experts"] {
                width: 307px;
            }
            img[alt="content formats"] {
                width: 296px;
            }
            img[alt="certificate"] {
                width: 330px;
            }
            .section_card_right_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                .section_card_heading {
                    font-size: 23px;
                    color: $white;
                    font-weight: bold;
                    margin-left: 25px;
                }
                .section_card_text {
                    width: 400px;
                    color: $textBox;
                    font-size: map-get($map: $fontSize, $key: paragraphSize);
                    text-align: justify;
                    font-family: $mainFont;
                    line-height: 1.5em;
                    margin-left: 20px;
                    word-spacing: 0px;

                }
                .section_link {
                    @include link($color: $textBox, $size: 17px, $fontLink: $fontParagraph);
                }
            }
        }
    }
    .section_banner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(to right, $gradient1, $gradient2);
        width: 958px;
        border-radius: 10px;
        position: absolute;
        left: 289px;
        height: 141px;
        bottom: -42px;
        z-index: 0;
        .section_banner_text_wrap {
            padding: 10px;
            .section_banner_heading {
                color: $text;
                font-size: map-get($map: $fontSize, $key: banner);
                font-weight: bold;
                &::before {
                    content: '';
                    background-color: $markText;
                    position: absolute;
                    z-index: -1;
                    top: 25px;
                    left: 229px;
                    width: 63px;
                    height: 47px;
                }
            }
            .section_banner_text {
                color: $textBox;
                font-size: map-get($map: $fontSize, $key: paragraphSize);
                font-family: $mainFont;
            }
        }
        .section_banner_button {
            @include button($color: $white, $height: 47px, $width: 140px, $bgColor: $btn, $border: none, $fontSize: 17px, $font: $fontParagraph, $fontWeight: 700);
        }
    }
}
.footer {
    background-color: $mainCol;
    padding-bottom: 20px;
    margin-bottom: 0px;
    .footer-wrap {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-end;
        height: 194px;
        .landing-logo {
            display: flex;
            padding-bottom: 10px;
            img {
                width: auto;
                height: 45px;
                margin-top: 23px;
            }
            p {
                margin-left: 20px;
                margin-top: 19px;
                text-align: center;
                font-size: map-get($map: $fontSize, $key: logo);
                font-weight: 600;
                color: $textBox;
                font-family: $mainFont;
            }
            span {
                display: block;
                font-size: map-get($map: $fontSize, $key: span);
                font-weight: 600;
                color: $textBox;
            }
        }
        .footer_text {
            color: $textBox;
            font-size: map-get($map: $fontSize, $key: footerSize);
            width: 300px;
            font-family: $mainFont;
        }
        .footer-cr {
            @extend .footer_text;
            padding-bottom: 40px;
        }
    }
}
