$btn : #699900;
$mainCol: #21232e;
$markText: #14a0c7;
$markAdventure: #14a0c7;
$text: #2c2f3c;
$textBox: #c0c3ce;
$white: #fff;
$gradient1: #699900;
$gradient2: #3366cc;
$bg: #fff;
$mainFont: Hind, sans-serif;
$fontParagraph: Source Sans Pro, sans-serif;
$img: url(../img/m-h-day.jpg);