$btn : #e2ad24;
$mainCol: #3b3f50;
$markText: #f05139;
$markAdventure: #f05139;
$text: #fff;
$textBox: #ccd1d1;
$white: #fff;
$gradient1: #dfa604;
$gradient2: #97334f;
$bg: #21232e;
$mainFont:Fresca, sans-serif;
$fontParagraph: Source Sans Pro, sans-serif;
$img: url(../img/m-h-night.jpg);